<div class="screen-profile card card-static">
  <ul class="nav nav-pills flex-sm-row flex-column" id="pills-tab" role="tablist" style="padding: 1.5rem;">
    <li class="nav-item mr-2 mb-1">
      <a class="nav-link acti" id="grimlock-buddypress-profile-tab-button-1" data-toggle="pill" href="#grimlock-buddypress-profile-tab-1" role="tab" aria-controls="pills-home" aria-selected="true">
        Profile info </a>
    </li>
    <li class="nav-item mr-2 mb-1">
      <a class="nav-link " id="grimlock-buddypress-profile-tab-button-2" data-toggle="pill" href="#grimlock-buddypress-profile-tab-2" role="tab" aria-controls="pills-home" aria-selected="true">
        Details </a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade acti show" id="grimlock-buddypress-profile-tab-1" role="tabpanel" aria-labelledby="pills-home-tab" style="background-color: #2b3844">
      <div class="bp-widget profile-info">
        <table class="profile-fields">
          <tbody>
            <tr class="field_1 field_name required-field visibility-public field_type_textbox">
              <td class="label">Name</td>
              <td class="data">
                <p>Fevzi Nevzat</p>
              </td>
            </tr>
            <tr class="field_2 field_first-name required-field visibility-loggedin alt field_type_textbox">
              <td class="label">First Name</td>
              <td class="data">
                <p>fevzi</p>
              </td>
            </tr>
            <tr class="field_3 field_last-name required-field visibility-adminsonly field_type_textbox">
              <td class="label">Last Name</td>
              <td class="data">
                <p>nevzat</p>
              </td>
            </tr>
            <tr class="field_5 field_birthdate required-field visibility-adminsonly alt field_type_datebox">
              <td class="label">Birthdate</td>
              <td class="data">
                <p>2000-01-05</p>
              </td>
            </tr>
            <tr class="field_6 field_gender optional-field visibility-loggedin field_type_selectbox">
              <td class="label">Gender</td>
              <td class="data">
                <p><a href="#" rel="nofollow">Male</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


    <div class="tab-pane fade " id="grimlock-buddypress-profile-tab-2" role="tabpanel" aria-labelledby="pills-home-tab">


      <div class="bp-widget details">

        <table class="profile-fields">
          <tbody>
            <tr class="field_4 field_biographical-info required-field visibility-public field_type_textarea">
              <td class="label">Biographical Info</td>
              <td class="data">
                <p>Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Fusce convallis metus id felis luctus adipiscing. Proin magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                  cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Pellentesque ut neque.</p>
                <p>&nbsp;</p>
              </td>
            </tr>
            <tr class="field_10 field_passion optional-field visibility-adminsonly alt field_type_selectbox">
              <td class="label">Passion</td>
              <td class="data">
                <p><a href="https://intranet-dark.cera-theme.com/members/?members_search=Books" rel="nofollow">Books</a></p>
              </td>
            </tr>
            <tr class="field_20 field_position optional-field visibility-loggedin field_type_selectbox">
              <td class="label">Position</td>
              <td class="data">
                <p><a href="https://intranet-dark.cera-theme.com/members/?members_search=Managing+director" rel="nofollow">Managing director</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div><!-- .profile -->
