<header id="header" class="site-header region"
  style="border-top-color:transparent;border-top-style:solid;border-top-width:0;border-bottom-color:transparent;border-bottom-style:solid;border-bottom-width:0;">
  <div class="region__inner">
    <div class="region__container">
      <nav id="navigation"
        class="navbar-full site-navigation main-navigation navbar navbar--fixed-left navbar--container-fluid hamburger-navbar"
        style="height: 60px; border-top-color:#eceeef; border-top-style:solid;border-top-width:0;border-bottom-color:#E9EFF3;border-bottom-style:solid;border-bottom-width:0;color:#ffffff;">

        <div class="navbar__container">

          <!-- <div class="navbar__header">
            <button id="navbar-hidden-toggler" class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navigation-hidden-collapse"><span></span></button>
            <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navigation-collapse">
              <span></span>
            </button>
            <div class="navbar-brand">
              <div class="site-branding">
                <h1 class="screen-reader-text"><a href="#" rel="home"></a></h1>
                <div class="site-logo navbar-brand__logo">
                  <a href="#" class="custom-logo-link" rel="home"><img width="142" height="44" src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/2019/10/logo.png" class="custom-logo"
                      alt="Cera Intranet Dark" data-attachment-id="45" data-permalink="https://intranet-dark.cera-theme.com/logo/" data-orig-file="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/2019/10/logo.png"
                      data-orig-size="142,44" data-comments-opened="0"
                      data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                      data-image-title="logo" data-image-description="" data-medium-file="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/2019/10/logo.png"
                      data-large-file="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/2019/10/logo.png"></a> </div>
              </div>
            </div>
          </div> -->

          <ul class="nav navbar-nav navbar-nav--search d-none d-lg-flex pr-5">
            <li class="menu-item">
              <div class="navbar-search d-flex align-items-center">

                <form role="search" method="get" class="search-form form-inline" action="https://intranet-dark.cera-theme.com/">
                  <div class="form-group">
                    <label class="sr-only">
                      <span class="screen-reader-text sr-only">Search everything...</span>
                    </label>
                    <input type="search" class="search-field form-control ui-autocomplete-input" placeholder="Search everything..." title="Search for:" value="" name="s" autocomplete="off">
                    <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                  </div>
                </form><!-- .search-form -->
              </div><!-- .navbar-search -->
            </li><!-- .menu-item -->
          </ul><!-- .navbar-nav -->

          <div class="hamburger-navbar-nav-menu-container d-none d-lg-flex col-auto pr-0">

            <ul class="nav navbar-nav navbar-nav--buddypress logged-in">


              <li class="menu-item ml-0 menu-item--friends">
                <a href="#">
                  <span class="sr-only">My friends</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--groups">
                <a href="#">
                  <span class="sr-only">My groups</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--notifications">
                <a href="#">
                  <span class="sr-only">My notifications</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--messages">
                <a href="#">
                  <span class="sr-only">My messages</span>
                </a>
              </li>


              <li class="menu-item menu-item-has-children ml-0 menu-item--profile ">
                <a href="#" class="menu-item--profile__link">
                  <span class="avatar-round-ratio">
                    <span class="d-block pos-r h-100">
                      <img loading="lazy" src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-avatar.png"
                        class="avatar user-33-avatar avatar-120 photo" width="120" height="120" alt="Profile picture of Demo">
                    </span>
                  </span>
                  <span class="menu-item--profile__name ml-3 d-lg-none">Demo</span>
                </a>

                <ul id="menu-user-logged-in-1" class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-26 current_page_item menu-item-110">
                    <a href="#" aria-current="page">
                      <i class="bx bx-grid-alt"></i>
                        Dashboard
                    </a>
                  </li>
                  <li class="bp-menu bp-activity-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-96">
                    <a href="#">
                      <i class="bx bx-error-circle"></i>
                      Activity
                    </a>
                  </li>
                  <li class="bp-menu bp-notifications-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-99">
                    <a href="https://intranet-dark.cera-theme.com/members/demo/notifications/">
                      <i class="bx bx-bell"></i>
                      Notifications
                    </a>
                  </li>
                  <li class="bp-menu bp-bp-messages-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-101">
                    <a href="#">
                      <i class="bx bx-message-rounded"></i>
                      Messages
                    </a>
                  </li>
                  <li class="bp-menu bp-friends-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-102">
                    <a href="#">
                      <i class="bx bx-heart"></i>
                        Friends
                    </a>
                  </li>
                  <li class="bp-menu bp-groups-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-103">
                    <a href="#">
                      <i class="bx bx-group"></i>
                        Groups
                    </a>
                  </li>
                  <li class="bp-menu bp-forums-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-104">
                    <a href="#">
                      <i class="bx bx-comment"></i>
                        Forums
                    </a>
                  </li>
                  <li class="bp-menu bp-profile-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-97">
                    <a href="/profile">
                      <i class="bx bx-user"></i>
                        Profile
                    </a>
                  </li>
                  <li class="bp-menu bp-settings-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-106">
                    <a href="#">
                      <i class="bx bxs-cog"></i>
                        Settings
                    </a>
                  </li>
                  <li class="bp-menu bp-logout-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-107">
                    <a href="#">
                      <i class="bx bx-log-out"></i>
                        Log out
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!-- .collapse -->

        </div><!-- .navbar__container -->

        <!-- TODO : Add condition to show only for hidden navigation layout option -->
        <div class="collapse navbar-collapse" id="navigation-hidden-collapse">
          <div class="navbar-collapse-content">

            <ul class="nav navbar-nav navbar-nav--buddypress logged-in">


              <li class="menu-item ml-0 menu-item--friends">
                <a href="https://intranet-dark.cera-theme.com/members/demo/friends">
                  <span class="sr-only">My friends</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--groups">
                <a href="https://intranet-dark.cera-theme.com/members/demo/groups">
                  <span class="sr-only">My groups</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--notifications">
                <a href="https://intranet-dark.cera-theme.com/members/demo/notifications">
                  <span class="sr-only">My notifications</span>
                </a>
              </li>


              <li class="menu-item ml-0 menu-item--messages">
                <a href="https://intranet-dark.cera-theme.com/members/demo/messages">
                  <span class="sr-only">My messages</span>
                </a>
              </li>


              <li class="menu-item menu-item-has-children ml-0 menu-item--profile ">
                <a href="https://intranet-dark.cera-theme.com/members/demo/" class="menu-item--profile__link ">
                  <span class="avatar-round-ratio"><span class="d-block pos-r h-100"><img loading="lazy" src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-avatar.png"
                        class="avatar user-33-avatar avatar-120 photo" width="120" height="120" alt="Profile picture of Demo"></span></span>
                  <span class="menu-item--profile__name ml-3 d-lg-none">Demo</span>
                </a>

                <ul id="menu-user-logged-in-2" class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-26 current_page_item menu-item-110">
                    <a href="#" aria-current="page">
                      <i class="bx bx-grid-alt"></i>
                        Dashboard
                    </a>
                  </li>
                  <li class="bp-menu bp-activity-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-96"><a href="https://intranet-dark.cera-theme.com/members/demo/activity/"><i class="cera-icon cera-alert-circle"></i>
                      Activity</a></li>
                  <li class="bp-menu bp-notifications-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-99"><a href="https://intranet-dark.cera-theme.com/members/demo/notifications/"><i class="cera-icon cera-bell"></i>
                      Notifications</a></li>
                  <li class="bp-menu bp-bp-messages-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-101"><a href="https://intranet-dark.cera-theme.com/members/demo/bp-messages/"><i class="cera-icon cera-message-circle"></i>
                      Messages</a></li>
                  <li class="bp-menu bp-friends-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-102"><a href="https://intranet-dark.cera-theme.com/members/demo/friends/"><i class="cera-icon cera-heart"></i> Friends</a></li>
                  <li class="bp-menu bp-groups-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="https://intranet-dark.cera-theme.com/members/demo/groups/"><i class="cera-icon cera-users"></i> Groups</a></li>
                  <li class="bp-menu bp-forums-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-104"><a href="https://intranet-dark.cera-theme.com/members/demo/forums/"><i class="cera-icon cera-message-square"></i> Forums</a>
                  </li>
                  <li class="bp-menu bp-profile-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-97"><a href="https://intranet-dark.cera-theme.com/members/demo/profile/"><i class="cera-icon cera-user"></i> Profile</a></li>
                  <li class="bp-menu bp-settings-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-106"><a href="https://intranet-dark.cera-theme.com/members/demo/settings/"><i class="cera-icon cera-settings"></i> Settings</a>
                  </li>
                  <li class="bp-menu bp-logout-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-107"><a
                      href="#"><i class="cera-icon cera-log-out"></i> Log out</a></li>
                </ul>


              </li>
            </ul>
          </div><!-- .navbar-collapse-content -->
        </div><!-- .navbar-collapse -->

      </nav><!-- .navbar -->
    </div><!-- .region__container -->
  </div><!-- .region__inner -->
</header>
