<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="brand">
      <span class="bx bx-unlink"></span>
      <span>Inmovidu</span>
    </h3>
    <label for="sidebar-toggle" class="bx bx-menu"></label>
  </div>
  <div class="sidebar-menu">
    <ul class="">
      <li>
        <a href="/dashboard" class="nav__link">
          <span class="bx bx-grid-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/homepage" class="nav__link">
          <span class="bx bx-layout"></span>
          <span>Homepage</span>
        </a>
      </li>
      <li class="tags">
        <a href="#" class="tag-link">COMMUNITY</a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-heart"></span>
          <span>Social wall</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-group"></span>
          <span>Groups</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-folder"></span>
          <span>Documents</span>
        </a>
      </li>
      <li class="tags">
        <a href="#" class="tag-link">Events</a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-calendar-alt"></span>
          <span>Calenders</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bxs-sun"></span>
          <span>Today's events</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-list-ul"></span>
          <span>Events List</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-home-alt"></span>
          <span>Venues</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-smile"></span>
          <span>Organisers</span>
        </a>
      </li>
      <li class="tags">
        <a href="#" class="tag-link">Others</a>
      </li>
      <li>
        <a href="#" class="nav__link">
          <span class="bx bx-log-out"></span>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
