<%- include('partials/header') %>
<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="/css/searchbar.css">
<link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>

  <%- include('partials/sidebar') %>

  <div class="main-content">

    <%- include('partials/searchbar') %>

    <main>
      <article id="post-26" class="post-26 page type-page status-publish hentry pmpro-has-access">
        <header class="grimlock--page-header entry-header">
          <div class="breadcrumb yoast-breadcrumb">
            <span>
              <span>
                <a href="https://intranet-dark.cera-theme.com/">
                  Home
                </a> • <span class="breadcrumb_last" aria-current="page">
                  Dashboard
                </span>
              </span>
            </span>
          </div>
          <h1 class="single-title page-title entry-title">Dashboard</h1>
        </header><!-- .entry-header -->
      </article>
      <div class="position-relative">
        <div class="widget-area" style="position: relative; height: 955.6px;">
          <div class="grid-sizer"></div>
          <div class="gutter-sizer"></div>

          <section id="stats_widget" class="widget widget-display-stats" style="position: absolute; left: 0%; top: 0px;">
            <span class="widget-title">
              Forum Statistics
            </span>
            <div class="widget_display_stats">
              <div class="row stats_list">
                <div class="col-12 stats_list_item mb-2">
                  <div class="bg-black-faded rounded-card p-2 w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-auto text-center d-flex pr-0 align-items-center justify-content-center">
                        <span class="stats_list-icon bx bx-group text-primary card" style="background: #202c36;"></span>
                      </div>
                      <div class="col">
                        <h3 class="mb-0">48</h3>
                        <h5 class="text-muted text-uppercase small font-weight-bold mb-0">Registered Users</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 stats_list_item mb-2">
                  <div class="bg-black-faded rounded-card p-2 w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-auto text-center d-flex pr-0 align-items-center justify-content-center">
                        <span class="stats_list-icon bx bx-comment text-primary card" style="background: #202c36;"></span>
                      </div>
                      <div class="col">
                        <h3 class="mb-0">8</h3>
                        <h5 class="text-muted text-uppercase small font-weight-bold mb-0">Forum</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 stats_list_item mb-2">
                  <div class="bg-black-faded rounded-card p-2 w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-auto text-center d-flex pr-0 align-items-center justify-content-center">
                        <span class="stats_list-icon bx bx-error-circle text-primary card" style="background: #202c36;"></span>
                      </div>
                      <div class="col">
                        <h3 class="mb-0">17</h3>
                        <h5 class="text-muted text-uppercase small font-weight-bold mb-0">Topics</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 stats_list_item mb-2">
                  <div class="bg-black-faded rounded-card p-2 w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-auto text-center d-flex pr-0 align-items-center justify-content-center">
                        <span class="stats_list-icon bx bx-station text-primary card" style="background: #202c36;"></span>
                      </div>
                      <div class="col">
                        <h3 class="mb-0">20</h3>
                        <h5 class="text-muted text-uppercase small font-weight-bold mb-0">Replies</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="groups_widget" class="widget widget_groups" style="position: absolute; left: 25.4276%; top: 0px;">
            <span class="widget-title">
              Groups
            </span>
            <div id="group-list-options" class="item-options">
              <a href="#" id="newest-groups" class="selected">Newest</a>
              <span class="seperator" role="seperator">|</span>
              <a href="#" id="recently-active-groups" class>Active</a>
              <span class="seperator" role="seperator">|</span>
              <a href="#" id="popular-groups" class>Popular</a>
              <span class="seperator" role="seperator">|</span>
              <a href="#" id="alphabetical-groups">Alphabetical</a>
            </div>
            <ul id="group-list" class="item-list" aria-live="polite" aria-relevant="all" aria-atomic="true" style="display: block;">
              <li class="odd public is-member group-has-avatar">
                <div class="item-avatar">
                  <a href="#" class="bp-tooltip" data-bp-tooltip="Pure Business">
                    <img src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/1/1-bpthumb.jpg" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Pure Business">
                  </a>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="#" class="bp-group-home-link pure-business-home-link">Pure Business</a>
                  </div>
                  <div class="item-meta">
                    <span class="activity">active 10 hours, 56 minutes ago</span>
                  </div>
                </div>
              </li>
              <li class="even public is-member group-has-avatar">
                <div class="item-avatar">
                  <a href="#" class="bp-tooltip" data-bp-tooltip="Agile Development">
                    <img src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/3/3-bpthumb.jpg" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Agile Development">
                  </a>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="#" class="bp-group-home-link agile-development-home-link">Agile Development</a>
                  </div>
                  <div class="item-meta">
                    <span class="activity">active 1 day, 7 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="odd public is-member group-has-avatar">
                <div class="item-avatar">
                  <a href="#" class="bp-tooltip" data-bp-tooltip="Test">
                    <img src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-group.png" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Test">
                  </a>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="#" class="bp-group-home-link test-1447706083-home-link">Test</a>
                  </div>
                  <div class="item-meta">
                    <span class="activity">active 1 day, 9 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="even public is-member group-has-avatar">
                <div class="item-avatar">
                  <a href="#" class="bp-tooltip" data-bp-tooltip="1231">
                    <img src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/278/5f5f36446acee-bpthumb.png" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of 1231">
                  </a>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="#" class="bp-group-home-link 1231-home-link">Test</a>
                  </div>
                  <div class="item-meta">
                    <span class="activity">active 1 day, 9 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="odd public is-member group-has-avatar">
                <div class="item-avatar">
                  <a href="#" class="bp-tooltip" data-bp-tooltip="Værksted">
                    <img src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-group.png" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Værksted">
                  </a>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="#" class="bp-group-home-link Værksted-1641469054-home-link">Test</a>
                  </div>
                  <div class="item-meta">
                    <span class="activity">active 1 day, 13 hours ago</span>
                  </div>
                </div>
              </li>
            </ul>
            <input type="hidden" id="_wpnonce-groups" name="_wpnonce-groups" value="9305be5964">
            <input type="hidden" name="_wp_http_referer" value="/">
            <input type="hidden" name="groups_widget_max" id="groups_widget_max" value="5">
          </section>

          <!-- Who's Online -->
          <section id="bp_core_whos_online_widget-2" class="widget widget_bp_core_whos_online_widget widget" style="position: absolute; left: 50.8551%; top: 0px;">
            <span class="widget-title">
              Who's Online
            </span>
            <div class="avatar-block">
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
            </div>
          </section>

          <!-- Recently Active -->
          <section id="bp_core_recently_active_widget-2" class="widget widget_bp_core_recently_active_widget widget" style="position: absolute; left: 76.2827%; top: 0px;">
            <span class="widget-title">
              Recently Active Members
            </span>
            <div class="avatar-block">

            </div>
            <div class="avatar-block">
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
              <div class="item-avatar">
                <a href="#" class="bp-tooltip" data-bp-tooltip="Demo">
                  <img src="images/user-avatar.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of User">
                </a>
              </div>
            </div>
          </section>

          <!-- This Week Events -->
          <section id="tribe-this-week-events-widget-2" class="widget tribe-this-week-events-widget" style="position: absolute; left: 50.8551%; top: 156.2px;">
            <span class="widget-title">
              This Week Events
            </span>
            <div class="tribe-this-week-widget-wrapper tribe-this-week-widget-vertical " data-prev-date="2021-01-04" data-next-date="2021-01-18" data-count="3" data-layout="vertical" data-tax-query data-hide-weekends data-nonce="dc8265dcc9">
              <!-- The Week Title -->
              <h2 class="tribe-events-page-title">Events for week of January 11, 2021</h2>
              <!-- The Week Header Navigation -->
              <h3 class="tribe-events-visuallyhidden">This Week Navigation</h3>
              <!-- .tribe-events-sub-nav -->
              <ul class="tribe-events-sub-nav">
                <!-- .tribe-events-nav-previous -->
                <li class="tribe-this-week-nav-link nav-previous">
                  <a href="#" data-week="2021-01-04" rel="prev">
                    <span>«</span>
                    <span class="tribe-nav-label">Previous</span>
                  </a>
                </li>
                <!-- .tribe-events-nav-next -->
                <li class="tribe-this-week-nav-link nav-next">
                  <a href="#" data-week="2021-01-18" rel="next">
                    <span>»</span>
                    <span class="tribe-nav-label">Next</span>
                  </a>
                </li>
              </ul>
              <span class="tribe-events-ajax-loading">
                <img class="tribe-events-spinner-medium" src="https://intranet-dark.cera-theme.com/wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events">
              </span>
              <!-- This Week Grid -->
              <div class="tribe-this-week-widget-weekday-wrapper ">

                <!-- This Week Day -->
                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-1 this-week-today">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Mon 11th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-2 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Tue 12th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-3 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Wed 13th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-4 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Thu 14th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-5 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Fri 15th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-6 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Sat 16th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

                <!-- This Week Day -->

                <div class="tribe-this-week-widget-day tribe-this-week-widget-day-0 ">
                  <div class="tribe-this-week-widget-header-date">
                    <span class="date">Sun 17th</span>
                  </div>
                  <div class="tribe-this-week-widget-day-wrap">
                    <div class="this-week-no-events-msg">No Events Today</div>
                  </div>
                </div>

              </div>
            </div>
          </section>

          <!-- Recent Documents -->
          <section id="widget_recent_bp_docs-2" class="widget widget_recent_entries widget_recent_bp_docs masonry-brick" style="position: absolute; left: 76.2827%; top: 216.2px;">
            <span class="widget-title">
              Recent Documents
            </span>
            <ul>
              <li>
                <a href="#">Music</a>
                <span class="post-date">January 12, 2021</span>
              </li>
              <li>
                <a href="#">Archive Library 2018</a>
                <span class="post-date">October 30, 2019</span>
              </li>
              <li>
                <a href="#">Music</a>
                <span class="post-date">January 12, 2021</span>
              </li>
              <li>
                <a href="#">CEO Talks - 20/10/19</a>
                <span class="post-date">October 30, 2019</span>
              </li>
              <li>
                <a href="#">Donec posuere vulputate arcu. Vivamus consectetuer</a>
                <span class="post-date">October 30, 2019</span>
              </li>
              <li>
                <a href="#">Business analyst resume - V2</a>
                <span class="post-date">October 30, 2019</span>
              </li>
            </ul>
          </section>

          <!-- Popular Posts -->
          <section id="wpp-2" class="widget popular-posts masonry-brick" style="position: absolute; left: 50.8551%; top: 338.8px;">
            <span class="widget-title">
              Popular Posts
            </span>
            <!-- cached -->
            <!-- WordPress Popular Posts v5.2.4 -->

            <ul class="wpp-list wpp-list-with-thumbnails">
              <li>
                <a href="#" target="_self"><img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/wordpress-popular-posts/1-featured-75x75.jpg" width="75" height="75" alt="" class="wpp-thumbnail wpp_featured wpp_cached_thumb"></a>
                <a href="#" class="wpp-post-title" target="_self">In order to succeed, we must first believe that we can</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">444 views</span></span>
              </li>
              <li>
                <a href="#" target="_self"><img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/wordpress-popular-posts/149-featured-75x75.jpg" width="75" height="75" alt=""
                    class="wpp-thumbnail wpp_featured wpp_cached_thumb"></a>
                <a href="#" class="wpp-post-title" target="_self">Try hard not to become a man of real success</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">86 views</span></span>
              </li>
              <li>
                <a href="#" target="_self"><img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/wordpress-popular-posts/153-featured-75x75.jpg" width="75" height="75" alt=""
                    class="wpp-thumbnail wpp_featured wpp_cached_thumb"></a>
                <a href="#" class="wpp-post-title" target="_self">I failed my way to success</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">67 views</span></span>
              </li>
              <li>
                <a href="#" target="_self"><img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/wordpress-popular-posts/148-featured-75x75.jpg" width="75" height="75" alt=""
                    class="wpp-thumbnail wpp_featured wpp_cached_thumb"></a>
                <a href="#" class="wpp-post-title" target="_self">Never give in except to convictions of honor and good sense</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">56 views</span></span>
              </li>
              <li>
                <a href="#" target="_self"><img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/wordpress-popular-posts/145-featured-75x75.jpg" width="75" height="75" alt=""
                    class="wpp-thumbnail wpp_featured wpp_cached_thumb"></a>
                <a href="#" class="wpp-post-title" target="_self">The successful warrior is the average man, with a laser</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">51 views</span></span>
              </li>
            </ul>

          </section>

          <!-- Recent Topics -->
          <section id="bbp_topics_widget-3" class="widget widget_display_topics masonry-brick" style="position: absolute; left: 0%; top: 452.2px;"><span class="widget-title">Recent Topics</span>
            <ul class="bbp-topics-widget newness">
              <li>
                <a class="bbp-forum-title" href="https://intranet-dark.cera-theme.com/forums/topic/bbpress-forum-standard-topic/">bbPress Forum Standard Topic</a>
                by <span class="topic-author"><a href="https://intranet-dark.cera-theme.com/members/andre/" title="View Andre Dubus's profile" class="bbp-author-link"><span class="bbp-author-avatar"><img alt=""
                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/24/24-bpthumb.jpg" srcset="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/24/24-bpthumb.jpg 2x" class="avatar avatar-50 photo" height="50"
                        width="50" loading="lazy"></span><span class="bbp-author-name">Andre Dubus</span></a></span>
              </li>
              <li>
                <a class="bbp-forum-title" href="https://intranet-dark.cera-theme.com/forums/topic/bbpress-forum-anonymous-topic/">bbPress Forum Anonymous Topic</a>
                by <span class="topic-author"><span class="bbp-author-avatar"><img alt="" src="https://secure.gravatar.com/avatar/01822efaf66e4b81d6f947cba7e0613a?s=50&amp;d=identicon_local&amp;r=g"
                      srcset="https://secure.gravatar.com/avatar/01822efaf66e4b81d6f947cba7e0613a?s=100&amp;d=identicon_local&amp;r=g 2x" class="avatar avatar-50 photo" height="50" width="50" loading="lazy"></span><span
                    class="bbp-author-name">Anonymous User</span></span>
              </li>
              <li>
                <a class="bbp-forum-title" href="https://intranet-dark.cera-theme.com/forums/topic/bbpress-forum-subscription-topic/">bbPress Forum Subscription Topic</a>
                by <span class="topic-author"><a href="https://intranet-dark.cera-theme.com/members/andre/" title="View Andre Dubus's profile" class="bbp-author-link"><span class="bbp-author-avatar">
                      <img alt="" src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/24/24-bpthumb.jpg" srcset="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/24/24-bpthumb.jpg 2x" class="avatar avatar-50 photo"
                        height="50" width="50" loading="lazy"></span><span class="bbp-author-name">Andre Dubus</span></a></span>
              </li>
            </ul>

          </section>

        </div>
      </div>
    </main>
  </div>

  <script>
    /*===== LINK ACTIVE  =====*/
    const linkColor = document.querySelectorAll('.nav__link')

    function colorLink() {
      if (linkColor) {
        linkColor.forEach(l => l.classList.remove('active'))
        this.classList.add('active')
      }
    }
    linkColor.forEach(l => l.addEventListener('click', colorLink))

  </script>

  <%- include('partials/footer') %>
