<%- include('partials/header') %>
<link rel="stylesheet" href="css/styles.css">

</head>


<body>

  <div class="errorpage">
    <h1>Error 404</h1>
    <h4>Invalid login details</h4>
  </div>

  <%- include('partials/footer') %>
