<%- include('partials/header') %>
<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="/css/searchbar.css">
<link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>

  <%- include('partials/sidebar') %>

  <div class="main-content">

    <%- include('partials/searchbar') %>

    <main id="main" class="site-main">
      <div class="widget-area">
        <section id="grimlock_section_widget-3" class="widget widget_grimlock_section">
          <div
            class=" grimlock-section--btn-primary grimlock-section--intranet-extranet-become-simple region grimlock-region grimlock-region--mt-0 grimlock-region--mb-0 grimlock-region--pt-9 grimlock-region--pb-9 grimlock-region--12-cols-center region--12-cols-center grimlock-region--container-narrower region--container-narrower grimlock-section section section_content_reveal"
            style="background-image:url(https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/2019/10/dylan-gillis-KdeqA3aTnBY-unsplash-1850x550.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;-webkit-background-size:cover;background-attachment:scroll;border-top-color:#eceeef;border-top-style:solid;border-top-width:0;border-bottom-color:#eceeef;border-bottom-style:solid;border-bottom-width:0;color:rgba(255,255,255,0.9);">
            <div class="region__inner" style="padding-top:9.5%;padding-bottom:9.5%;background-color:rgba(32,44,54,0.9);">
              <div class="region__container">
                <div class="region__row">
                  <div class="region__col region__col--1">
                    <div class="grimlock-reveal-element grimlock-reveal-element--thumbnail">
                    </div>
                  </div><!-- .region__col -->
                  <div class="region__col region__col--2">
                    <div class="grimlock-reveal-element grimlock-reveal-element--content"
                      data-grimlock-animate-scroll-reveal="{&quot;origin&quot;:&quot;bottom&quot;,&quot;distance&quot;:&quot;80px&quot;,&quot;duration&quot;:750,&quot;delay&quot;:0,&quot;rotate&quot;:{&quot;x&quot;:0,&quot;y&quot;:0,&quot;z&quot;:0},&quot;opacity&quot;:0,&quot;scale&quot;:1,&quot;easing&quot;:&quot;cubic-bezier(0.6, 0.2, 0.1, 1)&quot;,&quot;viewFactor&quot;:0.5,&quot;mobile&quot;:false,&quot;reset&quot;:false}"
                      data-sr-id="1"
                      style="visibility: hidden;; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                      <div class="grimlock-section__header section__header">

                        <h2 class="grimlock-section__title section__title grimlock-display-1 display-1 relative" style="color:#ffffff;">
                          <span class="widget-title">Intranet &amp; Extranet <br>Become <ins>Simple</ins></span> </h2>
                      </div><!-- .section__header -->
                      <div class="grimlock-section__content section__content">
                        <div class="grimlock-section__text section__text">
                          Take full advantage of an intranet or extranet platform for your <br>company. In a few steps. </div>
                      </div><!-- .section__content -->
                      <div class="grimlock-section__footer section__footer">

                        <a href="#grimlock_author_avatars_section_widget-3" class="grimlock-section__btn section__btn btn grimlock-btn-primary btn-primary">
                          Discover more </a>
                      </div><!-- .section__footer -->
                    </div>
                  </div><!-- .region__col -->
                </div><!-- .region__row -->
              </div><!-- .region__container -->
            </div><!-- .region__inner -->
          </div><!-- .grimlock-section -->
        </section>

        <!-- Section 2 -->
        <section id="grimlock_author_avatars_section_widget-3" class="widget widget_grimlock_author_avatars_section">
          <div
            class=" grimlock-section--btn-link grimlock-section--our-active-members region grimlock-region grimlock-region--mt-0 grimlock-region--mb-0 grimlock-region--pt-6 grimlock-region--pb-6 grimlock-region--12-cols-left region--12-cols-left grimlock-region--container-fluid region--container-fluid grimlock-section section grimlock-author-avatars-section section_members_reveal"
            style="border-top-color:#eceeef;border-top-style:solid;border-top-width:0;border-bottom-color:#eceeef;border-bottom-style:solid;border-bottom-width:0;"
            data-grimlock-animate-scroll-reveal="{&quot;origin&quot;:&quot;top&quot;,&quot;distance&quot;:0,&quot;selector&quot;:&quot;.section__header, .grimlock-author-avatars__user, .section__footer&quot;,&quot;duration&quot;:750,&quot;interval&quot;:50,&quot;delay&quot;:500,&quot;rotate&quot;:{&quot;x&quot;:0,&quot;y&quot;:0,&quot;z&quot;:0},&quot;opacity&quot;:0,&quot;scale&quot;:1,&quot;easing&quot;:&quot;cubic-bezier(0.6, 0.2, 0.1, 1)&quot;,&quot;viewFactor&quot;:0.5,&quot;mobile&quot;:false,&quot;reset&quot;:false}">
            <div class="region__inner" style="padding-top:6%;padding-bottom:6%;background-color:#202c36;">
              <div class="region__container">
                <div class="region__row">
                  <div class="region__col">
                    <div class="grimlock-section__header section__header" data-sr-id="3"
                      style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; ">

                      <h2 class="grimlock-section__title section__title grimlock-display-4 display-4">
                        <span class="widget-title" style="font-weight: 600;">Our Active Members</span> </h2>
                    </div><!-- .section__header -->
                    <div class="section__content section__content--12-cols-left section__content--avatars-12-by-5-cols-classic">
                      <div class="shortcode-author-avatars">
                        <ol class="grimlock-author-avatars__author-list bp-card-list bp-card-list--members author-list">
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail" data-sr-id="4"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; ">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/andre/" title="Andre Dubus"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/24/24-bpfull.jpg" class="avatar user-24-avatar avatar-450 photo" width="450" height="450" alt="avatar for Andre Dubus"></span><span
                                    class="name">Andre Dubus</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">33</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Account manager</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="5">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/antawnia/" title="Antawnia Jamison"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/4/4-bpfull.jpg" class="avatar user-4-avatar avatar-450 photo" width="450" height="450" alt="avatar for Antawnia Jamison"></span><span
                                    class="name">Antawnia Jamison</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">43</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Business analyst</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="6">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/samantha/" title="Cassey Dullea"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/32/32-bpfull.jpg" class="avatar user-32-avatar avatar-450 photo" width="450" height="450" alt="avatar for Cassey Dullea"></span><span
                                    class="name">Cassey Dullea</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">32</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Managing director</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="7">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/cecelio/" title="Cecelio Cichan"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/23/23-bpfull.jpg" class="avatar user-23-avatar avatar-450 photo" width="450" height="450" alt="avatar for Cecelio Cichan"></span><span
                                    class="name">Cecelio Cichan</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">61</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Chief brand officer</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="8">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/chynna/" title="Chynna Phillips"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/5/5-bpfull.jpg" class="avatar user-5-avatar avatar-450 photo" width="450" height="450" alt="avatar for Chynna Phillips"></span><span
                                    class="name">Chynna Phillips</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">48</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Managing director</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="9">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/dana/" title="Dana Cortese"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/26/26-bpfull.jpg" class="avatar user-26-avatar avatar-450 photo" width="450" height="450" alt="avatar for Dana Cortese"></span><span
                                    class="name">Dana Cortese</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">27</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Founder CEO</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="10">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/elena/" title="Elena Bulleati"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/29/29-bpfull.jpg" class="avatar user-29-avatar avatar-450 photo" width="450" height="450" alt="avatar for Elena Bulleati"></span><span
                                    class="name">Elena Bulleati</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">32</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Corporate development</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="11">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/elia/" title="Elisio Street"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/12/12-bpfull.jpg" class="avatar user-12-avatar avatar-450 photo" width="450" height="450" alt="avatar for Elisio Street"></span><span
                                    class="name">Elisio Street</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">38</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Corporate development</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="12">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/demo/" title="Fevzi Nevzat"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/33/6018946913fa6-bpfull.png" class="avatar user-33-avatar avatar-450 photo" width="450" height="450" alt="avatar for Fevzi Nevzat"></span><span
                                    class="name">Fevzi Nevzat</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">21</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Managing director</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                          <li class="grimlock-author-avatars__user bp-card-list__item bp-card-list--members__item has-post-thumbnail"
                            style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; "
                            data-sr-id="13">
                            <div class="card">
                              <div class="ov-h"><a href="https://intranet-dark.cera-theme.com/members/james/" title="James Washington"><span class="avatar"><img loading="lazy"
                                      src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/7/7-bpfull.jpg" class="avatar user-7-avatar avatar-450 photo" width="450" height="450" alt="avatar for James Washington"></span><span
                                    class="name">James Washington</span>
                                  <div class="bp-member-xprofile-custom-fields">
                                    <div class="bp-member-xprofile-custom-field bp-member-Birthdate">19</div>
                                    <div class="bp-member-xprofile-custom-field bp-member-Position">Corporate development</div>
                                  </div>
                                </a></div>
                            </div>
                          </li>
                        </ol>
                      </div>
                    </div><!-- .section__content -->
                    <div class="grimlock-section__footer section__footer"
                      style="visibility: hidden;; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 0.75s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; top: 80px"
                      data-sr-id="14">

                      <a href="/members" class="grimlock-section__btn section__btn btn grimlock-btn-link btn-link">
                        View all our members </a>
                    </div><!-- .section__footer -->
                  </div><!-- .region__col -->
                </div><!-- .region__row -->
              </div><!-- .region__container -->
            </div><!-- .region__inner -->
          </div><!-- .grimlock-section -->
        </section>


      </div>
    </main>
